.card {
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  height: 400px;
  overflow: hidden;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  cursor: pointer;
 
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
}

.previewRow {
  display: flex;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
  background: #f8f8f8;
  border-bottom: 1px solid #eee;
}

.thumb {
  width: 33%;
  height: 50px;
  object-fit: cover;
  border-radius: 0.3rem;
  border: 1px solid #ddd;
}

.info {
  padding: 1rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #666;
  font-size: 0.9rem;
}
.description {
  font-size: 0.9rem;
  color: #555;
  margin: 1rem 0;
  line-height: 1.4;
}


.price {
  color: #1a8917;
  font-weight: bold;
  margin-top: 0.5rem;
}
.contact{
  color: #333;
}
.contact span{
  color: #333;
  margin-right: 5px;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
  color: #888;
  background: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.stats span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.amenities {
  display: flex;
  gap: 0.8rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #444;
}
