.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

/* hero Section */
.heroSection {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
}
.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


/* custom Nav styles */
.heroNav {
  width: 100%;
}


.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  color: white;
}

/* STATS and ICON SECTION WRAPPER */
.statsWrapper {
  margin-top: 0;
  background-color: #fff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.03);
  padding: 1rem 2rem;
}

.hrLine {
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 0.2rem 0;
  width: 100%;
}

.tagline {
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 800px;
  margin :  25px 0;
  font-family: var(--font-quicksand);
}
/* Mobile Filter Option */

.mobileFilterSection {
  display: none;
  margin: 1rem auto;
  padding: 1rem 2rem;
  max-width: 1400px;
  background: #f9f9f9;
  border-radius: 0.75rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
}
/* PREMIUM SECTION STYLES */
.premiumSection {

  border-radius: 1rem;
  background: #ffffff;
   padding: 2rem;
  margin: 0.75rem auto;
  max-width: 1920px;
}

.heading {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #d66203;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
  align-items: start;
}

/* Left: Property Grid */
.left {
  display: flex;
  flex-direction: column;
    padding: 2rem;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

/* card grid */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
  margin-bottom: 1;
  justify-content: center;
  align-items: start;
  padding: 1rem 0;
}


/* Right: Vertical stack of components */
.right {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
  gap: 2rem;
}

/* Mobile Responsive */
@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .mobileFilterSection {
    display: block;
  }

  .right {
    display: none;
    order: -1; /* Moves filter + AI to top */
  }
}


.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-top: 1px solid #eaeaea;
  font-size: 0.9rem;
}
