.dashboardContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: aliceblue;
  }
  
  .dashboardContent {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }

  /* STAT CARDS STYLES */
 .statcards {
  padding-top: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
} 

.lipanampesa{
  margin-top: 20px ;
  padding: 10px;
}

.recentpayments{
  margin-top: 20px ;
  padding: 10px;
}