* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #0eb6ad;
  }
  
  .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    display: flex;
    width: 1000px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .login-left {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-left h2 {
    margin-bottom: 20px;
  }

  .login-left p{
    color: black;
    text-align: center;
    margin: 20px 0;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: azure;
    border-radius: 50px;
    font-size: 14px;
  }
  
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: #1a73e8;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #155ab6;
  }
  
  .login-right {
    flex: 1;
    overflow: hidden;
  }
  
  .login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  